<h2>Edytuj stronę</h2>
<% semantic_form_for @page do |page| %>

    <% page.inputs :name => "Tytuł i treść strony" do %>
      <%= page.input :title %>
      <%= page.tinymce_managed :body, :name => "as" %>
    <% end %>

    <% page.buttons do %>
      <%= page.commit_button :label => "Zapisz" %>
    <% end %>

  <% end %>