<div class="photo">
	<%= link_to image_tag(photo.file.url(:thumb), :class => 'thumb'), photo.file.url %>
        <%= link_to "Usuń", photo_url(photo), :confirm => 'Czy napewno chcesz usunąć to zdjęcie?', :method => :delete %>
</div>